name: Welcome

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  welcome:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Welcome to the Vortex community! :tada: Thanks for reporting an issue. We will look into it as soon as possible.'
          pr-message: 'Welcome to the Vortex community! :tada: Thanks for your contribution. We will review your PR shortly.'
